.header {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #C30D23;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  .contact-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  .nav-logo {
    align-self: center;
    display: block;
    width: auto;
    height: clamp(32px, 2vw, 80px);
    object-fit: contain;
  }


  .contact-number {
    display: flex;
    flex-direction: column;
    font-size: clamp(0.85rem, 2vw, 1.5rem);
    color: #FFF;
  }

  .contact-list {
    display: none;
  }

  .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .hamburger {
    width: 24px;
    height: 24px;
    color: #FFF;
  }

  .menu-nav {
    height: 0;

    .menu-list {
      .menu-item {
        display: none;
      }
    }

    &.show {
      height: auto;

      .menu-list {
        .menu-item {
          display: block;
        }
      }
    }
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .menu-item {
      display: block;
      width: 100%;
      max-width: 100%;
      padding: 1rem;
      font-size: clamp(0.75rem, 2vw, 1.25rem);
      text-align: center;
      color: #FFF;
      border-top: 1px solid #f1dfb5;

      &:hover {
        color: #f1dfb5;
        text-decoration: none;
      }
    }
  }

}

@media (min-width: 821px) {
  .header {
    .contact-nav {
      padding: 0 0 0 1rem;
      align-items: stretch;
    }

    .contact-number {
      flex: 1;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 8px;
      padding-right: 1rem;
    }

    .contact-list {
      display: flex;
      margin: 0;
    }

    .contact-item {
      display: block;
    }

    .contact-link {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      padding: 0 1rem;
      font-size: 1rem;
      height: 60px;
      line-height: 60px;
      color: #FFF;
      cursor: pointer;

      &.line {
        background-color: #23b81a;
      }

      &.reserve {
        color: #333;
        background-color: #f1dfb5;
      }
    }

    .contact-icon {
      width: 24px;
      height: 24px;
      color: inherit;
    }

    .menu-button {
      display: none;
    }

    .menu-nav {
      height: auto; 

      .menu-list {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
        border-top: 1px solid #f1dfb5;

        .menu-item {
          display: flex;
          border: none;
        }
      }
    }
  }
}

.main-container {
  padding-bottom: 64px;
}

@media (min-width: 821px) {
  .main-container {
    padding: 0;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: 10;

  .footer-nav-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
  }

  .nav-item {
    display: block;

    &:not(:last-of-type) {
      .nav-link {
        border-right: 2px solid rgba(#FFF, 0.2);
      }
    }
  }

  .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 0.5rem 0;
    color: #FFF;
    background-color: #333;
  }

  .nav-icon {
    width: 1rem;
    height: 1rem;
  }
}

@media (min-width: 821px) {
  .footer {
    display: none;
  }
}