.section {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
}

.img-bg {
  img {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

.s0 {
  color: #FFF;

  .logo {
    margin-bottom: 1.25rem;
  }

  .divider {
    margin: 0 10px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  .middle {
    margin-bottom: 1.25rem;
    color: $light-grey;
    text-align: center;
    line-height: 1.4;

    .font-en {
      letter-spacing: 2px;
    }
  }

  .small {
    color: $light-grey;
  }
}

@media (min-width: 768px) {
  .s0 {
    .logo {
      margin-bottom: 2.5rem;
    }

    .large {
      margin-bottom: 5.5rem;
    }
  }
}

.s1 {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 3rem;
    right: 50%;
    transform: translateX(50%);
  }

  .title,
  .title-en {
    white-space: nowrap;
  }
}

@media (min-width: 768px) {
  .s1 {
    .content {
      align-items: flex-start;
      top: 8rem;
      right: 4rem;
      transform: initial;
    }
  }
}

.s2 {
  padding: 3rem 1.5rem;
  min-height: auto;
  .img-bg {
    img {
      max-height: 40vh;
      margin: 0 auto;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
}

@media (min-width: 768px) {
  .s2 {
    padding: 0;
    .img-bg {
      img {
        max-height: 100vh;
      }
    }
    .content {
      max-width: 40vw;
      margin: 0;
      color: #FFF;
      align-items: flex-start;
      position: absolute;
      top: 8rem;
      left: 4rem;
    }

    .para {
      max-width: 520px;
    }
  }
}

.s3 {
  padding: 0 0 3rem 0;
  min-height: auto;

  .img-bg {
    img {
      height: auto;
      margin: 0 auto;
    }
  }

  .border {
    display: inline-block;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
    border-left: 2px solid $gold;
    border-right: 2px solid $gold;
    font-weight: bold;
    line-height: 1;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding: 0 1.5rem;
  }
  
  .title {
    text-align: center;
  }

  .circle-group {
    display: none;
  }

  .deco-line {
    margin: 1rem auto;
    background-color: $gold;
    &-gold {
      margin: 0 auto 1rem auto;
      max-width: 100%;
    }
  }

  .img-flag {
    max-width: 26px;
    height: auto;
  }

  .img-durgo {
    max-width: 78px;
    height: auto;
  }

  .d-flex {
    gap: 8px;
    margin-bottom: 1rem;

    .title,
    .title-en,
    .subtitle {
      margin: 0;

      &.white {
        color: $black;
      }
    }
  }

  .d-none {
    display: none;
  }
}

@media (min-width: 768px) {
  .s3 {
    padding: 0;
    color: #FFF;

    .img-bg {
      img {
        max-height: 100vh;
      }
    }

    .border {
      margin-bottom: 1.125rem;
    }

    .content {
      align-items: flex-start;
      max-width: 40vw;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &.left {
        left: 8rem;
      }

      &.right {
        right: 8rem;
      }

      &.center {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        left: 50%;
        transform: translate(-50%, -50%);

        .para {
          margin-top: 2rem;
        }
      }
    }

    .title {
      text-align: left;
    }

    .para {
      max-width: 520px;
    }

    .circle-group {
      display: grid;
      grid-template-columns: repeat(4, 150px);
      gap: 1rem;
      margin-top: 2rem;
    }

    .circle-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 150px;
      border: 2px solid $gold;
      border-radius: 50%;
      font-size: 1.5rem;
      font-weight: bold;

      .font-en {
        font-weight: normal;
      }
    }

    .deco-line {
      margin: 3rem auto;
      background-color: #FFF;
      &-gold {
        max-width: 320px;
        margin: 0 auto 3rem 0;
        justify-self: flex-start;
        background-color: $gold;
      }
    }

    .img-flag {
      max-width: 52px;
    }

    .img-durgo {
      max-width: 138px;
    }

    .d-flex {
      gap: 16px;
      .title,
      .title-en {
        &.white {
          color: #FFF;
        }
      }
    }
  }
}

.s4 {
  display: flex;
  flex-direction: column;
  max-height: auto;
  background-color: $light-grey;
  min-height: initial;

  .swiper {
    max-width: 100%;

    .swiper-slide {
      padding: 1.5rem;
    }
  }

  .content {
    flex: initial;
    max-width: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem 3rem 1.5rem;
  }
}

@media (min-width: 768px) {
  .s4 {
    flex-direction: row;
    min-height: 100vh;
    max-height: 100vh;
    background-color: #FFF;
    
    .swiper {
      flex: 1;
      max-width: 65%;

      .swiper-slide {
        padding: 0;
      }
    }

    .content {
      align-self: center;
      flex: 0 0 35%;
      max-width: 35%;
      min-width: 380px;
      padding: 4rem;
    }

    .title {
      white-space: initial;
    }
  }
}

.s5 {
  min-height: auto;

  .swiper-slide {
    display: flex;
    flex-direction: column;
    padding: 3rem 1.5rem;
  }

  .title {
    color: $gold;
    font-size: clamp(1.25rem, 4vw, 2.2rem);
    margin-bottom: 0;
    span {
      margin-left: 4px;
      font-size: clamp(1rem, 3vw, 1.5rem);
    }
  }

  .content-wrapper {
    display: flex;
    margin-bottom: 1rem;
  }

  .works-title {
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: $gold;
    font-size: clamp(0.75rem, 3vw, 1.25rem);
    + .para {
      line-height: 1.4;
    }
  }

  .deco-line-gold {
    width: auto;
    flex: 1;
    margin: 16px 0 16px 10px;
    height: 1px;
  }

  .avatar {
    width: 120px;
    height: 120px;
    margin-right: 1rem;
  }

  .works-img-wrapper {
    margin-top: 1rem;
    position: relative;

    .works-img {
      position: relative;
      z-index: 1;
    }

    .img-tag {
      z-index: 1;
    }

    .border {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid $gold;
      top: 8px;
      left: 8px;
    }
  }
}

@media (min-width: 768px) {
  .s5 {
    min-height: 100vh;
    
    .swiper-slide {
      padding: 0;
      flex-direction: row;
    }

    .title {
      margin-bottom: 48px;
      line-height: 1.6;
    }

    .avatar {
      width: 160px;
      height: 160px;
      position: absolute;
      top: -120px;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 0 0 35%;
      max-width: 35%;
      min-width: 380px;
      padding: 3.2rem;
    }

    .content-wrapper {
      flex-direction: column;
      max-width: 360px;
      border: 1px solid $gold;
      margin-bottom: 0;
      padding: 4rem 2rem 2rem 2rem;
      position: relative;
      transform: translateY(4vw);
    }

    .works-title {
      + .para {
        line-height: 1.8;
      }
    }


    .deco-line-gold {
      margin: 24px 0 24px 24px;
    }
  }


  .works-grid {
    display: grid;
    flex: 1;
    max-width: 65%;
    height: 100vh;
    max-height: 100vh;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    &.d1 {
      grid-template-areas:
        "G1 G1 G4 G4"
        "G2 G2 G4 G4"
        "G3 G3 G4 G4";
    }

    &.d2 {
      grid-template-areas:
        "G1 G1 G2 G2"
        "G1 G1 G3 G3"
        "G4 G4 G4 G4";
    }

    &.d3 {
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas:
        "G1 G1 G2 G2"
        "G1 G1 G2 G2"
        "G3 G3 G4 G4"
        "G3 G3 G4 G4";
    }
    
    &.d4 {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "G1 G1 G1"
        "G2 G3 G4"
        "G2 G3 G4";
    }
  }

  .g1 {
    grid-area: G1;
  }

  .g2 {
    grid-area: G2;
  }

  .g3 {
    grid-area: G3;
  }

  .g4 {
    grid-area: G4;
  }
}

@media (min-width: 1280px) {
  .s5 {
    .title {
      line-height: 1.8;
    }

    .avatar {
      width: 200px;
      height: 200px;
      top: -150px;
    }

    .content-wrapper {
      padding: 4rem 2.5rem 2.5rem 2.5rem;
    }

    .content {
      padding: 4rem;
    }
  }
}

.s6 {
  display: flex;
  flex-direction: column;
  max-height: auto;
  background-color: $gold;
  min-height: initial;

  .swiper {
    max-width: 100%;

    .swiper-slide {
      position: relative;
    }
  }
  
  .content {
    flex: initial;
    max-width: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5rem 3rem 1.5rem;
  }
}

@media (min-width: 768px) {
  .s6 {
    flex-direction: row;
    min-height: 100vh;
    max-height: 100vh;
    color: #FFF;
    background-color: $gold;

    .swiper {
      flex: 1;
    }

    .vertical_write {
      font-size: 1.5rem;
      writing-mode: vertical-rl;
      line-height: 1.5;
      letter-spacing: 6px;
    }

    .content {
      align-self: center;
      flex: 0 0 280px;
      max-width: 280px;
      padding: 4rem;
    }
    
    .para {
      padding: 2.5rem 0;
      border-top: 1px solid #FFF;
      border-bottom: 1px solid #FFF;
    }
  }
}

.s7 {
  min-height: auto;

  .swiper-slide {
    padding: 3rem 1.5rem 0 1.5rem;

     img {
      min-height: 220px;
     }
  }

  .title {
    text-align: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5rem 3rem 1.5rem;
  }
  
  .white {
    color: $black;
  }
}

@media (min-width: 768px) {
  .s7 {
    display: block;

    .swiper-slide {
      padding: 0;

      img {
        height: 100vh;
      }
    }

    .title {
      text-align: left;
    }

    .content {
      width: 40vw;
      max-width: 620px;
      min-width: 560px;
      margin: 0;
      align-items: flex-start;
      position: absolute;
      top: 6rem;
      left: 0;
      padding: 2rem 4rem 2rem 8rem;

      &.white {
        color: #FFF;
        background-color: rgba($black, .5);
      }
    }

  }
}